.list {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.listButtons {
  cursor: pointer;
  height: 5%;
  width: 100%;
  padding: 0.2em;
  margin-bottom: 0.2em;
  background: none;
  color: var(--main-color);
  font-size: calc(0.2rem + 2vh);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.actionButtons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  margin-bottom: 1rem;
  padding: 0.5em;
  position: sticky;
  top: 0;
  background-color: var(--main-bg-color);
  border-radius: 50px;
  border: 3px solid var(--second-color);
}

.itemsToDisplay {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.listButtons {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listButtons p {
  text-align: center;
  word-break: break-word;
  padding: 0.5rem;
  border-radius: 50px;
  transition: 0.2s;
}

.listButtons p:hover {
  background-color: var(--second-bg-color);
  transition: 0.2s;
}

.filter,
.sortDate,
.sortRating {
  width: 100%;
  max-width: 7vh;
  background: none;
  cursor: pointer;
  justify-self: center;
  transition: 0.2s;
  display: flex;
  justify-content: center;
}

.filter {
  grid-column: 0/1;
}

.sortDate {
  grid-column: 3/4;
}

.sortRating {
  grid-column: 5/6;
}

.filter:hover,
.sortDate:hover,
.sortRating:hover {
  scale: 1.1;
  transition: 0.5s;
}

.filter img,
.sortDate img,
.sortRating img {
  width: 50%;
}

.arrowDesc {
  width: 50%;
}

.arrowAsc {
  width: 50%;
  transform: rotateX(180deg);
}

.filters {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: calc(0.2rem + 2vh);
}

.filtersPart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: solid 3px var(--second-color);
  background-color: var(--second-bg-color);
  border-radius: 25px;
  padding: 0.5em;
  font-weight: 600;
}

.filtersButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.filtersButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.filtersButton input {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 25px;
  background-color: var(--main-bg-color);
  border: solid 1px var(--second-color);
  appearance: none;
}

.filtersButton input:checked {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 25px;
  background-color: var(--second-color);
  border: solid 1px var(--second-bg-color);
  appearance: none;
  transition: 0.5s;
  box-shadow: 0px 0px 1px 3px var(--main-bg-color) inset;
}

.pagination {
  position: sticky;
  color: var(--second-color);
  font-size: calc(0.1rem + 2vh);
}

.pagination:hover {
  color: var(--main-color);
}

@media screen and (max-height: 450px) {
  .listButtons,
  .filters {
    font-size: calc(0.2rem + 4vh);
  }

  .filters {
    flex-direction: row;
  }

  .filtersButtons {
    gap: 2rem;
  }
}
