.menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menuButton {
  cursor: pointer;
  height: 10%;
  width: 50%;
  padding: 0.2em;
  border-radius: 50px;
  background-color: var(--second-bg-color);
  color: var(--main-color);
  font-size: calc(0.2rem + 2vh);
  font-weight: bold;
  transition: 0.3s;
}

.menuButton:hover {
  border: 2px solid var(--main-color);
  transition: 0.3s;
}
