.register {
  width: 80%;
  max-width: 1000px;
  height: 90%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background-color: var(--main-bg-color);
  border: 3px solid var(--second-color);
  border-radius: 50px;
  box-shadow: 7px 7px 10px black;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 90%;
  align-items: center;
}

.formBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  font-size: calc(0.2rem + 2vh);
}

.formBlock input {
  height: 3rem;
  width: 80%;
  padding: 0.5em;
  border-radius: 50px;
  background-color: var(--second-bg-color);
  color: var(--main-color);
  font-weight: bold;
  text-align: center;
  font-size: calc(0.2rem + 2vh);
}

.infoMessage {
  padding: 0.5rem;
  font-weight: bolder;
  font-size: calc(0.2rem + 2vh);
  text-align: center;
}

.registerButton {
  cursor: pointer;
  height: 3em;
  width: 50%;
  padding: 0.5em;
  border-radius: 50px;
  background-color: var(--second-bg-color);
  color: var(--main-color);
  font-size: calc(0.2rem + 2vh);
  box-shadow: 0 0 15px var(--main-color);
  transition: 0.5s;
}

.registerButton:hover {
  background-color: var(--main-bg-color);
  transition: 0.5s;
}

.redirect {
  color: var(--main-color);
  padding: 0.5rem;
  font-weight: bolder;
  font-size: calc(0.2rem + 2vh);
  text-align: center;
}

.redirect a:visited {
  color: var(--main-color);
}

.redirect a:hover {
  color: var(--second-color);
}

@media screen and (max-height: 450px) {
  .registerButton {
    font-size: calc(0.2rem + 4vh);
  }

  .form {
    gap: 1.5rem;
  }

  .formBlock {
    font-size: calc(0.2rem + 4vh);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }

  .formBlock input {
    font-size: calc(0.2rem + 4vh);
  }
}
