
#root {
  width: 100%;
  --main-color: #FFC599;
  --main-bg-color: #522500;
  --second-color: #A85311;
  --second-bg-color: #713200;
  --main-font-family: 'Josefin Slab', serif;
  }

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
 }
  
* {
  box-sizing: border-box;
  border: none;
  margin: 0px;
  padding: 0px;
  font-family: var(--main-font-family);
}

.App {
  display: flex;
  justify-content: center;
  background-color: var(--main-bg-color);
}